<div class="form-input mt-4">

  {{#if errors}}
<div class="alert alert-primary" role="alert">
  Error
</div>

  {{/if}}
  <h1>Login</h1>
    <form method="POST" >
  <div class="form-group" >
    <label for="search-input">Email</label>
    <input type="text" name="email">
    <input type="text" class="form-control" name="password"  placeholder="Enter password">
  </div>

  </div>
 
  <button type="submit" class="btn btn-primary" value ="submit" >Submit</button>
</form>

</div>