<div class="form-input mt-4">

  
  <h1>Create Project</h1>
    <form method="POST" >
  <div class="form-group" >
    <input type="text" name="name">
    <input type="text" name="status">
    <input type="text" name="introduction">
    <input type="text" name="deadline">
    <input type="text" name="deleted">
    <input type="text" name="created_date">
  </div>

  </div>
 
  <button type="submit" class="btn btn-primary" value ="submit" >Submit</button>
</form>

</div>