<div class="form-input mt-4">

  {{#if errors}}
<div class="alert alert-primary" role="alert">
  Error
</div>

  {{/if}}
  <h1>Search</h1>
  <form method="POST" >
      <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" name='commentId' class="form-control" placeholder="comment id">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Delete</button>
            </div>
        </div>
    </div>
</form>