<div class="form-input mt-4">

  
  <h1>Edit Information</h1>
    <form method="POST" >
  <div class="form-group" >
    <input type="text" name="username" placeholder="Username">
    <input type="mail" name="mail" placeholder="Mail">
    <input type="date" name="date" placeholder="Date of birth">
    <input type="text" name="address" placeholder="Address">
    <input type="text" name="github" placeholder="Github">
  </div>

  </div>
 
  <button type="submit" class="btn btn-primary" value ="submit" >Submit</button>
</form>

</div>