/* Sidebar */
.logo {
  height: 32px;
  background-image: url('../images/logoHCN.png');
  background-color: #f59f99;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 16px;
}

/* Navbar */
.site-layout {
  margin-left: 0;
}
.site-layout-background {
  padding: 0;
}
.add-new-btn {
  margin-left: 1rem;
  text-transform: uppercase;
  background-color: #5c77ff !important;
  color: #fff !important;
  font-weight: 500 !important;
  transition: all ease-in 0.4s;
}
.ant-layout-header {
  background: #fff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input {
  margin-right: 2rem;
}
.avatar {
  margin-right: 1rem;
  cursor: pointer;
}
.avatar img {
  max-width: 80%;
  width: 64px;
  border-radius: 50%;
}
.ant-dropdown-arrow {
  display: none;
}
.ava-dropdown {
  top: -10px;
}
.ava-dropdown > .ant-dropdown-menu-item {
  padding: 10px 30px;
}

.anticon-bars {
  cursor: pointer;
}

/* Content */
.content-title {
  margin: 1rem 0 0 1rem;
}
.ant-layout-content {
  margin: 24 16 0;
  overflow: initial;
}
.content-background {
  background-color: #f5f5f8;
}
.content {
  padding: 2rem;
  display: flex;
  overflow-y: auto;
}
.content-project {
  margin-right: 1rem;
  background-color: #e1dee4;
  border-radius: 5px 5px 0 0;
  color: #000;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  overflow-y: auto;
  max-height: 30rem;
}
.content-project .card {
  background-color: #242b3e;
  color: #fff;
  margin-top: 0.75rem;
  border-radius: 4px;
  box-shadow: 2px 7px 25px 0px rgba(0,0,0,0.18);
  cursor: pointer;
}

/* AddTask */
.content-project-task {
  text-align: left;
}
.content-project-task > button {
  text-transform: uppercase;
  width: 95%;
  color: #000;
  background: #e1dee4 !important;
  border: 0px solid transparent;
  border-radius: 0 0 2px 2px;
}
.add-task-container-hidden {
  padding: 1.5rem;
  background: #fff;
  margin-top: 0.75rem;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in 0.3s;
}
.add-task-container-visible {
  visibility: visible;
  opacity: 1;
  transition: all ease-in 0.3s;
}
.add-task-container-hidden .add-task {
  background-color: #f5f5f8;
  position: relative;
  text-align: left;
}
.add-task > input {
  width: 69%;
}
.btn-task-create {
  position: absolute;
  left: 68%;
  position: absolute !important;
  padding: 4px 12px;
}
.btn-task-create span {
  color: #11151e;
  font-weight: 500 !important;
}

/* Task */
.ant-modal-header .task-title .task-subtitle {
  color: #787878;
  font-size: 1rem;
}
.ant-modal-header .task-title .task-member {
  text-transform: uppercase;
  color: #787878;
}

.ant-modal-body {
  overflow: auto;
  max-height: 20rem;
}

.ant-modal-body .task-description {
  margin-bottom: 2rem;
}
.ant-modal-body .task-description p.task-desc-title, .ant-modal-body .task-attachment p.task-attach-title, .ant-modal-body .task-comment p.task-com-title {
  text-transform: uppercase;
  font-weight: 500;
}

.ant-modal-body .task-attachment {
  margin-bottom: 2rem;
}

.ant-modal-body .task-comment .user-info {
  display: flex;
  align-items: center;
}
.ant-modal-body .task-comment .user-info .user-avatar img {
  max-width: 100%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.ant-modal-body .task-comment .user-info .user-subinfo {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.ant-modal-body .task-comment .user-info .user-subinfo p {
  margin-bottom: 0;
}
.ant-modal-body .task-comment .user-info .user-subinfo p.user-name {
  font-size: 1.125rem;
  font-weight: 500;
}

/* RESPONSIVE */
.sidebar-enter {
  opacity: 0;
  transform: scale(0.9);
}
.sidebar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.sidebar-exit {
  opacity: 1;
}
.sidebar-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms;
}

@media screen and (max-width: 768px) {
  .ant-layout-header {
    padding: 0 25px !important;
  }
}

@media screen and (max-width: 576px) {
  .site-layout-background {
    padding: 0 15px !important;
  }
  .add-new-btn {
    font-size: 11px !important;
    margin-left: 1rem;
    height: 25px !important;
    padding: 4px 8px !important;
  }
  .ant-input-search > .ant-input-group > .ant-input-group-addon .ant-input-search-button {
    font-size: 11px !important;
    height: 25px !important;
    padding: 4px 8px !important;
  }
  .search-input {
    margin-right: 1rem;
  }
  .search-input .ant-input {
    padding: 2px 10px;
    font-size: 13px;
  }
  .avatar {
    margin-right: 0;
  }
  .avatar img {
    max-width: 69%;
  }

  .content {
    padding: 1.5rem;
  }

  .content .content-project {
    margin-right: 0;
  }

  .content-project-task > button {
    width: 100%;
  }

  .add-task > input {
    width: 75%;
  }
  .btn-task-create {
    left: 73%;
  }
}

/*profile*/
.inf-page{
  height: 700px;
  margin-top: 50px;
}

.sizeAva{
width: 300px;
height: 300px;
border-radius: 50%;
}


